page{
  // background-image: linear-gradient(#FFA760, rgb(255, 230, 228));
  // background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f6f6f6;
}

.box1{
  height: 170px;
  width: 100%;
  background: #FFA760;
  .box1_row1{
    display: flex;
    margin-left: 15px;
    .profile_img{
      height: 65px;
      width: 65px;
      border-radius: 50%;
      margin-left: 2%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 6px;
    }
    .profile_name{
      color: #fff;
      font-size: 20px;
      margin-left: 8px;
      // margin-top: 10px;
      display: flex;
      align-items: center;
    }
    .promoCodeBtnWrapper{
      color: #fff;
      font-size: 18px;
      margin-left: 5%;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .promoCodeBtn{
        border: 1px solid white;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
      }
    }
    .promoCodeBtnWrapper0{
      color: #fff;
      font-size: 18px;
      margin-left: 5%;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .promoCodeBtn{
        border: 1px solid white;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
      }
    }
    .promoCodeBtnWrapper2{
      color: #fff;
      font-size: 18px;
      margin-left: 5%;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .promoCodeBtn{
        border: 1px solid white;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
      }
    }
    .profile_login{
      padding: 0;
      border: none;
      background: none;
      position: absolute;
      margin-left: 7%;
      margin-top: 10px;
      color: white;
    }
  }

  .box1_row2{
    height: 50px;
    display: flex;
    padding: 25px 35px 5px 35px;
    justify-content: space-between;
    .box1_row2_img_name{
      text-align: center;
      .box1_row2_icon{
        height: 22px;
        width: 22px;
      }
      .box1_row2_text{
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

  .box1_row3{
    height: 60px;
    background: white;
    height: 70px;
    width: 94%;
    border-radius: 10px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    .box1_row3_warper{
      display: flex;
      padding: 15px 30px 15px 30px;
      justify-content: space-between;
      .box1_row3_img_name{
        text-align: center;
        .box1_row3_icon{
          height: 25px;
          width: 25px;
        }
        .box1_row3_text{
          font-weight: 300;
          font-size: 12px;
          margin-top: 4px;
        }
      }
    }
    
  }
}

.box2{
  display: block;
  width: 94%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 13px 0 13px;
  margin-top: 10px;
  font-size: 15px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  .box2_row_warper{
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    // display: flex;
    padding: 15px 10px 15px 10px;
    .box2_row_img_name{
      text-align: center;
      .box2_row_icon{
        height: 28px;
        width: 28px;
      }
      .box2_row_text{
        font-weight: 300;
        font-size: 12px;
        margin-top: 4px;
      }
    }
  }
}
