/* 顶部菜单切换 */
page{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
   /* 默认选中菜单 */
  .item {
    position: relative;
    flex: auto;
    font-size: 27rpx;
    width: 100rpx;
    text-align: center;
    line-height: 80rpx;
    color: #333;
   }
    /* 选中菜单样式 */
   .item.active {
      font-size: 30rpx;
      font-weight: 500;
      color: #F45C43;
      border-bottom: 6rpx solid#F45C43;
   }
    /* 字体 */
   .item.active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rpx;
   }
 }
//  没有商品时候
 .no_item{
  display: block;
  text-align: center;
  .empty_cart_container{
    padding: 20px 0 10px 0;
    .empty_cart{
      width: 40%;
    }
  }
  .no_item_text1 {
    color: #6d6d6d;
    font-size: 32rpx;
  }
  .no_item_text2{
    color: #bebebe;
    font-size: 30rpx;
  }
 }

// 你可能还喜欢商品
.guess_like{
  .guess_like_text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0 5px 0;
    .love_img_container{
      margin-top: 5px;
      .love_img{
        width: 20px;
        height: 20px;
        padding: 0 6px 0 3px;
      }
    }
    text{
      color: #F45C43;
    }
  } 
  // 你可能喜欢所有商品

  .preference_display {
    margin-top: 10px;
    background-color: #f5f5f5;
    border-radius: 30px 30px 0px 0px;
    .preference_row {
      display: block;
      margin-top: 10px;
      padding: 0 10px 0 10px;
      .preference_col {
        .navigator_box{
          height: 14rem;
          width: 93%;
          background-color: #ffffff;
          border-radius: 3px;
          margin: auto;
          .good_navigator {
            height: 10rem;
            margin-left: auto;
            margin-right: auto;
            .goods_image {
              width: 100%;
              height: 85%;
              border-radius: 7rpx;
            }
            .goods_msg{
              margin-left: 6%;
              .goods_name {
                margin-top: 3%;
                font-size: 28rpx;
              }
              .goods_sale{
                display: flex;
                font-size: 20rpx;
                color: rgb(77, 77, 77);
                font-weight: 300;
                font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                .goods_sale_number{
                  font-family: cursive;
                  margin-left: 2%;
                }
              }
            } 
          }
          .add_icon{
            display: flex;
            margin-left: 6%;
            margin-top: 30px;
            .goods_price {
              width: 84%;
              color: tomato;
              padding-top: 0.5rem;
              display: flex;
              font-family: cursive;
              .dollar_symbol{
                display: inline-block;
                align-self: flex-end;
                font-size: 22rpx;
                font-weight: 300;
              }
              .dollar_price_number{
                margin-left: 2px;
                font-size: 30rpx;
              }
            }
            .add_to_cart{
              height: 20px;
              width: 20px;
              margin-top: 7px;
            }
          }
        }
      }
    }
  }

  .ending{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;
    font-size: 23rpx;
    font-weight: 300;
    color: rgb(153, 153, 153);
  }
}


.cart_content {
  .cart_main { 
    .cart_item {
      .cart_info_comment_wrapper{
        height: 100%;
        width: 94%;
        background-color: white;
        border-radius: 15px;
        margin: auto;
        margin-top: 15px;
        .cart_info_wrap {
          .order_number_status{
            display: flex;
            padding: 15px 15px 10px 10px;
            justify-content: space-between;
            .order_number {
              display: -webkit-box;
              overflow: hidden;
              -webkit-box-orient: vertical;
              -webkit-line-clamp:2;
              color: rgb(0, 0, 0);
              font-size: 28rpx;
            }
            .order_status{
              font-size: 14px;
              color: #FFA760;
              font-weight: 300;
            }
          }
          .good_info{
            display: flex;
            .good_img{
              padding: 5px 0 10px 10px;
              image{
                width:55px;
                height: 55px;
                border-radius: 5px;
              }
            }
            .dotdotdot{
              margin-top:20px;
              margin-left: 10px;
            }
            .good_price{
              display: block;
              position: absolute;
              right: 6%;
              justify-content: flex-end;
              margin-top: 10px;
              .good_price_info{
                display: flex;
                .rmb{
                  font-size: 25rpx;
                }
              }
              .good_list_nums{
                text-align: right;
                font-size: 25rpx;
                color: #a1a1a1;
              }  
            }
          }
        }
        .comment_btn_wrapper{
          padding-bottom: 10px;
          // margin-left: 77%;
          display: flex;
          justify-content: flex-end;
          margin-right: 3%;
          .comment_btn{
            border: 1px solid #FFA760;
            height: 30px;
            width: 80px;
            color: #FFA760;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 14px;
            border-radius: 20px;
            // margin-left: 74%;
          }
          .comment_btn_cancel{
            border: 1px solid red;
            color: red;
          }
          .comment_btn_check{
            display: flex;
            // margin-left: 49%;
            .check_express{
              border: 1px solid #b9b9b9;
              height: 30px;
              width: 80px;
              color: #000000;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 14px;
              border-radius: 20px;
              margin-right: 5px;
            }
            .confirm_order{
              border: 1px solid #FFA760;
              height: 30px;
              width: 80px;
              color: #FFA760;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 14px;
              border-radius: 20px;
            }
          }
        }
      }
      
    }
    
  }
}
 
.goTop{
  height: 60rpx;
  width: 60rpx;
  position: fixed;
  bottom: 60rpx;
  right: 5%;
  border-radius: 50%;
}

@media screen and (max-width:375px){
  .cart_content{
    .cart_main { 
      .cart_item {
        .cart_info_comment_wrapper{
          .comment_btn_wrapper{
            // margin-left: 74%;
          }
        }
      }
    }
  }
  
}